h1 {
    color: brown;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

p {
    text-align: center;font-size: 24px;
}

.MyPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 50%;
  }

  .header a{
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
}
.header a:hover {
    color: #e9e6589c;
  }


.header {
    height: 100px;
    width: 100%;
    background-color: black;
 }